<div class = nav-div>

    <div class= navlink-div>
        <a class = link href="/">Home</a>
        
        <% if (user) { %> 
            <a class = link href="/users/profile"></a>
            <a class = link href="/users/logout">Logout</a>
        <%} else{ %> 
            <a class = link href="/users/login">Login</a>
            <a class = link href="/users/new">Create Account</a>
        <% } %> 
    </div>

</div>