<div class="main-index">
    <h1>Hi Welcome to SUPER LAND</h1>
    <h2>Please sign up to see more information</h2>
</div>

<form class="signUp" action="/users" method="POST">
    <label for="email">EMAIL</label>
    <input type="text" name="email" value="justin@superland.com">
    <label for="password">PASSWORD</label>
    <input type="password" name="password" value="12345678">

    <input type="submit" value="Sign up">
</form>


<h2 class="main-index">Already have an account? <a href="/login">Sign in here</a> </h2>

