<h1>Welcome to the DAVE ZONE!</h1>

<h3>Do you wanna get in the zone? Well you've come to the right place, my friend!</h3>

<h4>Login to get in the zone.. or Sign up to be apart of the Dave Zone CREW.</h4>

<h1>Enter... if you DARE!!!</h1>