<h1>Sign up Here:</h1>

<form action="/users" method="POST">
    <label for="user_email">Email</label>
    <input type="text" id="user_email" name="email">

    <label for="user_password">Email</label>
    <input type="password" id="user_password" name="password">

    <input type="submit" value="submit">
</form>
