<h1 class="message">Please Login here</h1>

<div id="loginInput">
<form action="/user/login" method="POST">
    <div class="email">
        <input type="text" name="email" placeholder="your email">
    </div>
    <div class="password">
        <input type="password" name="password" placeholder="your password">
    </div>
    <div class="submit">
        <input type="submit">
    </div>
</form>
</div>