<h1 class="message">Create an account</h1>

<div id="loginInput">
<form action="/user" method="POST">
    <div class="name">
        <input name="i1" type="text" name="name" placeholder="your name">
    </div>
    <div class="email">
        <input name="i2" type="text" name="email" placeholder="your email">
    </div>
    <div class="password">
        <input class="i3" type="password" name="password" placeholder="new password">
    </div>
    <div class="submit">
        <input type="submit">
    </div>
</form>
</div>