

<div class="profile">
    <h1>Your email: <span id="profileResult"><%= user.email %></span> </h1>
    <h1>Your name: <span id="profileResult">TBU </span></h1>
    <h1>Your age: <span id="profileResult">TBU </span></h1>
    <h1>Your address: <span id="profileResult">TBU </span></h1>
</div>