
<h1>ENTER INTO THE DAVEZONE</h1>
    <form action="/users/login" method="POST">
        
        <label for= "email">Email</label>
        <input type="text" name="email" value="email">
        <label for= "password">Password</label>
        <input type="password" name="password" value="password">
        <input type="submit" value="login">


    </form>