<h2>Create a new account!</h2>



<form action= "/users" method="POST" >
    <label>Email</label>
    <input type='text' name='email'>

    <label>Password</label>
    <input type='password' name='password'>

    <input type='submit'>

</form>