<h2>Register New User</h2>
<form method="POST" action="/users">
    <label for="email-input">Email</label>
    <input type="text" name="email">

    <label for="password-input">Password</label>
    <input type="password" name="password">

    <input type="submit">
</form>