<h1>You've decided to enter into the DAVE-ZONE...</h1>

<h2>You've made a wise decision.</h2>

<h4>Enter your name, email address, and create a password below</h3>

    <form action="/users/new" method="POST">
        <label>Name</label>
        <input type="text" name="name" value="name">
        <label>Email</label>
        <input type="text" name="email" value="email">
        <label>Password</label>
        <input type="password" name="password" value="password">
        <input type="submit" value="sign-up">
    </form>