

<h1 id="loginPageText">Please type your email and password</h1>

<form class="signUp" action="/login" method="POST">
    <label for="email">EMAIL</label>
    <input type="text" name="email" value="email">
    
    <label for="password">PASSWORD</label>
    <input type="password" name="password" value="password">

    <input type="submit" value="Sign in">
</form>


<h4 id="loginPageText">** For testing, use email: j.sb.parkk@gmail.com / password:123123</h4>